{# FOOTER #}
<footer id="desktop_footer">
        <div class="footer_container">
            <div class="footer_aboutUs">
                <h2 class="custom">Hephaestos</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Mauris maximus egestas lorem eu pulvinar.
                    Quisque et magna velit. Nam auctor enim ac dui
                    tincidunt suscipit. Aenean eu lorem ut sem dapibus
                    condimentum.
                </p>
                <p> Fusce nisi dui, commodo a nunc a, eleifend
                    convallis enim. Ut eget pretium sem, non aliquam
                    leo. Vestibulum a diam turpis. Integer ut ipsum erat.
                    Duis quam est, gravida sed malesuada nec, luctus id
                    mauris. Morbi convallis ex id ante sollicitudin, eget.
                </p>
            </div>
            <div class="footer_link">
                <ul>
                    <li class="custom">Liens</li>
                    <li><a href="{{ url('homepage') }}">Accueil</a></li>
                    <li><a href="{{ url('automobile') }}">Automobile</a></li>
                    <li><a href="{{ url('renovation_auto')}}">Rénovation</a></li>
                    <li><a href="{{ url('produit') }}">Nos produits</a></li>
                    <li><a href="{{ url('account') }}">Mon compte</a></li>
                    <li><a href="{{ url('contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="footer_services">
                <ul>
                    <li class="custom">Le Garage</li>
                    <li> Plan du site</li>
                    <li> Vie privée</li>
                    <li> Mentions légales</li>
                    <li> Condition d'utilisation</li>
                </ul>
            </div>
            <div class="footer_contact">
                <h3 class="custom">Contact</h3>
                <address>66 Highway Road, Floorland</address>
                <address><a href="mailto:contact@hephaestos.com">contact@hephaestos.com</a></address>
                <address><a href="tel:(+33)01.01.01.01.01"> (+33) 01.01.01.01.01</a></address>
                <div class="footer_socialMedia">
                    <img src="assets/img/facebook.svg" alt="picto facebook">
                    <img src="assets/img/instagram.svg" alt="picto instagram">
                    <img src="assets/img/twitter.svg" alt="picto twitter">
                    <img src="assets/img/pinterest.svg" alt="picto pinterest">
                </div>
            </div>
        </div>
        <p class="copyright"> © Copyright 2021- Hephaestos by Shirley</p>
    </footer>
    {# FOOTER-MOBILE #}
    <footer id="mobile_footer">
        <div class="footer_link">
            <details>
                <summary> Menu </summary>
                <ul>
                    <li><a href="{{ url('homepage') }}">Accueil</a></li>
                    <li><a href="{{ url('automobile') }}">Automobile</a></li>
                    <li><a href="{{ url('renovation_auto') }}">Rénovation</a></li>
                    <li><a href="{{ url('produit') }}">Nos produits</a></li>
                    <li><a href="{{ url('contact') }}">Contact</a></li>
                    <li><a href="{{ url('account') }}">Mon Compte</a></li>
                </ul>
            </details>
        </div>
        <div class="footer_services">
            <details>
                <summary>Le Garage</summary>
                <ul>
                    <li> Plan du site</li>
                    <li> Vie privée</li>
                    <li> Mentions légales</li>
                    <li> Condition d'utilisation</li>
                </ul>
            </details>
        </div>
        <div class="footer_socialMedia">
            <img src="assets/img/facebook.svg" alt="picto facebook">
            <img src="assets/img/instagram.svg" alt="picto instagram">
            <img src="assets/img/twitter.svg" alt="picto twitter">
            <img src="assets/img/pinterest.svg" alt="picto pinterest">
        </div>
        <p class="copyright_mobile"> © Copyright 2021- Hephaestos by Shirley</p>
    </footer>