{# Desktop Nav #}
<nav id="desktop_menu">
<a href="{{url('homepage')}}"><img class="logo_nav" src="img/logoHephaestos.png" alt="Logo du garage Hephaestos"></a>
	<ul>
		<li>
			<a href="{{ url('homepage') }}">Accueil</a>
		</li>
		<li>
			<a href="{{ url('automobile') }}">Automobile</a>
		</li>
		<li>
			<a href="{{ url('renovation_auto') }}">Rénovation</a>
		</li>
		<li>
			<a href="{{ url('produit') }}">Nos produits</a>
		</li>
		<li>
			<a href="{{ url('contact') }}">Contact</a>
		</li>
		<li>
			<a href="{{ url('account') }}"><i class="fas fa-user"></i></a>
		</li>
    </ul>
	<div class="progress-bar">
		<div class="progress-bar-inner">0%</div>
	</div>
</nav>
{# Mobile Nav #}
<nav id="mobile_menu">
    <a href="{{url('homepage')}}"><img class="logo_nav" src="img/logoHephaestos.png" alt="Logo du garage Hephaestos"></a>
    <details>
        <summary> Menu </summary>
        <ul>
            <li><a href="{{ url('homepage') }}">Accueil</a></li>
            <li><a href="{{ url('automobile') }}">Automobile</a></li>
            <li><a href="{{ url('renovation_auto') }}">Rénovation</a></li>
            <li><a href="{{ url('produit') }}">Nos produits</a></li>
            <li><a href="{{ url('contact') }}">Contact</a></li>
            <li><a href="{{ url('account') }}">Mon Compte</a></li>
        </ul>
    </details>
</nav>
